body {
    height: 100vh;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    background-image: url('./../image/bkg.jpg');
    background-size: cover;
    color: white;
    overflow-y: auto;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
}

.title {
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.api {
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 10px;
    font-style: italic;
    color: #c3bf28;
}
.subtitle {
    font-size: 30px;
    color: #dac649;
}
.text {
    font-size: 25px;
}
.red {
    color: rgb(230, 101, 101);
}
.mb {
    margin-bottom: 80px;
}

.wrapper {
    padding-top: 40px;
}
.wrapper h2 {
    color: rgb(255, 255, 255);
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 5px;
}
.wrapper h4 {
    padding-left: 10px;
    margin: 0;
    margin-bottom: 45px;
    color: rgb(187, 184, 184);
    font-size: 18px;
    font-weight: normal;
}
.totalAmount {
    color: #bfa907;
    text-align: center;
}

.list__item {
    padding: 12px 21px;
    border-radius: 4px;
    border: 1px solid gainsboro;
    background: #ffffff47;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 40px;
}

.list__item__title {
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.list__item__txt{
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
    color: black;
}
.list__item__value {
    color: white;
    font-size: 13px;
    font-weight: normal;
}