body {
    height: 100vh;
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
    background-size: cover;
    color: white;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 50px;
    color: white;
}
.subtitle {
    font-size: 30px;
    color: #F0DB50;
}
.text {
    font-size: 25px;
}
.red {
    color: rgb(230, 101, 101);
}
.mb {
    margin-bottom: 80px;
}

.btn {
    cursor: pointer;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid black;
}