html {
    background-color: #f8f8f6;
}
body {
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url('./../image/bkg.jpg');
    background-position-x: 75%;
    background-size: contain;
    color: black;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#canvas {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 30%;
    cursor: url('./../image/brush.png'), pointer;
    z-index: 50;
}
.btn {
    padding: 15px 20px;
    border-radius: 4px;
    border: 2px solid black;
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;
}
.btn.active {
    background: rgb(197, 252, 197);
    font-weight: bold;
}
.title {
    font-size: 50px;
    color: black;
}
.subtitle {
    font-size: 30px;
    color: #F0DB50;
}
.text {
    font-size: 25px;
}
.red {
    color: rgb(230, 101, 101);
}
.mb {
    margin-bottom: 80px;
}

.wrapper {
    
}