body {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    background-image: url('./../image/clockBkg.jpg');
    background-size: cover;
    color: white;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 50px;
    color: white;
}
.subtitle {
    font-size: 30px;
    color: #F0DB50;
}
.text {
    font-size: 25px;
}
.red {
    color: rgb(230, 101, 101);
}
.mb {
    margin-bottom: 80px;
}

.contentClock {
   width: 100%;
   text-align: center;
   transform: scale(0);
   transition: all 1.5s;
   transition-timing-function: cubic-bezier(0, 2.17, 0.78, 0.99);

}
.clockWrapper {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 10px solid black;
    position: relative;
    margin: 0 auto;
}
.hand {
    height: 5px;
    width: 50%;
    color: black;  
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    transition: 0.1s;
    transform-origin: 100%;
    transition-timing-function: cubic-bezier(0, 2.17, 0.78, 0.99);
}
.hand.hours {
    width: 40%;
    height: 6px;
    /* transform: rotate(130deg); */
    left: 10.7%;
}
.hand.minutes {
    /* transform: rotate(150deg); */
}
.hand.seconds {
    height: 2px;
    /* transform: rotate(90deg); */
}
.centerClock {
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    background-color: black;
    border-radius: 100%;
    position: absolute;
    z-index: 10;
}

