body {
    height: 100vh;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    background-size: cover;
    color: white;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 50px;
    color: white;
}
.subtitle {
    font-size: 30px;
    color: #F0DB50;
}
.text {
    font-size: 25px;
}
.red {
    color: rgb(230, 101, 101);
}
.mb {
    margin-bottom: 80px;
}

.wrapper {
    width: 100%;
    padding-top: 60px;
}

.contentVideo {
    position: relative;
    margin: 0 auto;
    width: 866px;
    height: 488px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #1b1919;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.contentVideo__video {
    width: 100%;
    height: 100%;
}
.contentVideo__controls {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    background: transparent;
    bottom: -47px;
    transition: bottom 0.4s ease-in-out;
}
.contentVideo:hover .contentVideo__controls {
    bottom: 0px;
}
.contentVideo__controls__progressBar {
    height:17px;
    width: 100%;
    background: #00000029;
    display: flex;
}
.contentVideo__controls__progressBar__filled {
    flex:0;
    flex-basis:90%;
    background-color: #F0DB50;
}
.contentVideo__controls__wrapper {
    display: flex;
    background: transparent;
    height: 35px;
}
.contentVideo__controls__wrapper__pause {
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
    flex: 1;
    padding-top: 5px;
    cursor: pointer;
}
.contentVideo__controls__wrapper__volumen {
    flex: 4;
    padding: 10px
}
.inputRange {
    width: 100%;
    margin: 0;
}
.contentVideo__controls__wrapper__speed {
    flex: 4;
    padding: 10px
}

.contentVideo__controls__wrapper__wrapperReb {
    display: flex;
    flex: 1;
    padding: 7px 5px 5px 5px;
    cursor: pointer;
}
.contentVideo__controls__wrapper__wrapperReb__item{
    flex: 1;
    font-size: 14px;
    padding: 0 3px;
}
                        