body {
    height: 100vh;
    background-color: #fc9842;
    background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
    background-size: cover;
    color: white;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}
.contentTitle {
    flex: 3;
}
.title {
    font-size: 50px;
    color: white;
}
.subtitle {
    font-size: 30px;
    color: #F0DB50;
}
.text {
    font-size: 25px;
}
.info {
    color: #156ad3;
    font-size: 18px;
}
.red {
    color: rgb(70, 1, 1);
}
.mb {
    margin-bottom: 80px;
}

.form {
    flex: 1;
    margin-top: 10px;
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin: 0 auto;
    width: 200px;
    border-radius: 20px;
    border: 1px solid #9a9a9a;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.checked {
    text-decoration: line-through;
}
.contentInput{
    margin: 0 auto;
    padding: 20px 10px;
    border-bottom: 1px solid #cecece;
    cursor: pointer;
}
.contentInput__label {
    font-size: 20px;
    color: black;
    margin: 0;
}
.contentInput__input {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 10px;
    border: 2px solid black
}

