:root {
    --bkgColourCss: rgb(10,112,178);
    --textColourCss: white;
    --textSizeCss: 10px;
    --bkgColourJs: rgb(233,186,29);
    --textColourJs: black;
    --textSizeJs: 10px;
}
body {
    height: 100vh;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);        /* background-image: url('./../image/bkg.jpg'); */
    /* background-size: cover; */
    color: white;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
    text-align: center;
}
.title {
    font-size: 50px;
    color: white;
}
.subtitle {
    font-size: 30px;
    color: #F0DB50;
}
.text {
    font-size: 25px;
}
.red {
    color: rgb(230, 101, 101);
}
.mb {
    margin-bottom: 80px;
}
.contentElement{
    display: inline-block;
    vertical-align: middle;
}

.elementText {
    font-size: var(--textSizeCss);
    display: inline-block;
    margin: 0;
    position: absolute;
    left: 32px;
    top: 80px;
    font-weight: bold;
    color: var(--textColourCss);
}
.elementShape {
    width: 300px;
    height: 340px;
    background-color: var(--bkgColourCss);
    position: relative;
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 130px;
}
.elementShape::after {
    background-color: var(--bkgColourCss);
    display: block;
    content: '';
    border-width: 0 3px 3px 0;
    content: '';
    border:3px solid var(--bkgColourCss);
    border-width: 72px 82px 22px 72px;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(26deg);
    position: absolute;
    bottom: -39px;
    left: 14px;
    z-index: -1;
}
.elementShape::before {
    background-color: var(--bkgColourCss);
    display: block;
    content: '';
    border: 3px solid var(--bkgColourCss);
    border-width: 0 3px 3px 0;
    /* content: ''; */
    border-width: 74px 82px 22px 82px;
    display: inline-block;
    padding: 3px;
    /* transform: rotate(-25deg); */
    -webkit-transform: rotate(157deg);
    position: absolute;
    bottom: -39px;
    right: 14px;
    z-index: -1;
}
.jsShape.elementShape {
    background-color: var(--bkgColourJs); 
} 
.jsShape.elementShape::after, .jsShape.elementShape::before {
    border-color: var(--bkgColourJs); 
    background-color: var(--bkgColourJs);
} 
.jsShape .elementText {
    color: var(--textColourJs);
    font-size: var(--textSizeJs);
}
.contentInputs {
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.contentInputLabel {
    display: block;
    text-align: left;
}
.contentInputLabel label{
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}
.contentInputLabel input{
    display: inline-block;
    cursor: pointer;
    margin-bottom: 40px;
}

.wrapperTitle {
    font-size: 25px;
    color: white;
    margin-bottom: 100px;
}
