body {
    height: 100vh;
    background-size: cover;
    color: white;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contentTitle {
    position: absolute;
    transform: translateY(0);
    padding: 10px 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    opacity: 0.9;
    transition: all 0.4s cubic-bezier(0.48, 0.05, 0.28, 1.61);
}
.contentTitle.hide {
    transform: translateY(-100%);
}
.title {
    font-size: 50px;
    color: white;
}
.subtitle {
    font-size: 30px;
    color: #F0DB50;
}
.text {
    font-size: 25px;
}
.red {
    color: rgb(230, 101, 101);
}
.mb {
    margin-bottom: 80px;
}

.panels {
    display: flex;
}
.sub-panel {
    cursor: pointer;
    flex: 1;
    height: 100vh;
    background-size: cover;
    background-position-x: 50%;
    display:flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.9;
    transition:
        flex 1s cubic-bezier(0.48, 0.05, 0.28, 1.61),    
        opacity 1.8s cubic-bezier(0.73, 0.32, 0, 1.7)
}
.text.games {
    transform:translateY(-100%);
    display: none;
}
.text.goals {
    transform:translateY(+100%);
    display: none;
}
.sub-panel.open {
    flex: 3;
    opacity:1;
}
.text {
    margin: 0;
    flex: 1;
    transition: 
        transform 0.4s cubic-bezier(0, -0.73, 1, -0.55),
        font-size 1s cubic-bezier(0, -0.73, 0.22, 1.39);
    font-weight: bold;
    color: cornsilk;
    font-size: 50px;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
}
.panel-active .text {
    font-size: 70px;
    color: #ffc44d;
}
.panel-active .games {
    transform:translateY(0);
    display: flex;
}
.panel-active .goals {
    transform:translateY(0);
    display: flex;
}
.neymar {
    background-image: url('./../image/neymar.jpg');
}
.sramos {
    background-image: url('./../image/sramos.jpg');
}
.messi{
    background-image: url('./../image/messi.jpg');
}
.cristiano {
    background-image: url('./../image/cristiano.png');
}
.mbappe {
    background-image: url('./../image/mbappemadrid.jpg');
}