body {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    background-image: url('./../image/pianoBkg.jpg');
    background-size: cover;
    color: white;
    overflow: hidden;
}

.yellow {
    color: #F0DB50;
}
.red {
    color: rgb(230, 101, 101);
}
.contentKeys {
    width: 100%;
    text-align: center;
    padding-top: 40px;
}
.key {
    background: white;
    padding: 30px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.7s;
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 60px;
    height: 200px;
}
p {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.active {
    transform: scale(1.1);
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 2px 12px 29px 0px #d4d2c473; 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 2px 12px 29px 0px #d4d2c473;
}