body {
    height: 100vh;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    background-image: url('./../image/bkg.jpg');
    background-size: cover;
    color: white;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 50px;
    color: white;
}
.subtitle {
    font-size: 30px;
    color: #F0DB50;
}
.text {
    font-size: 25px;
}
.red {
    color: rgb(241, 16, 16);
}
.mb {
    margin-bottom: 80px;
}

.wrapper {
    text-align: center;
}

.input-search {
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 20px;
    width: 200px;
    background-color: white;
}
.list {
    margin: 0 auto;
    height: 40px;
    background: #eae6de;
    border: 1px solid gray;
    border-radius: 3px;
    list-style: none;
    width: 200px;
    color: black;
    text-align: left;
    height: 100%;
    padding: 0;
}
.list .list__element {
    color: black;
    padding: 0;
    margin: 0px;
    padding: 10px;
}
.highlight {
    background-color: #F0DB50;
}